psutil>=5.8.0
requests>=2.26.0
beautifulsoup4>=4.10.0
pypiwin32>=223
pandas>=1.3.3
dask[dataframe]>=2022.9.1
py7zr>=0.16.2
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability